*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
/* container class css for all types of screen */
.container{
    height: 100%;
    margin: 0px auto;
    max-width: 100%; /* Default for small screens */
}

/* responsive design starts here: */

/* Small devices (phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
    .container{
        background-color: red;
        margin: 0px;
    }
}

/* Medium devices (small tablets, 576px to 767.98px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .container{
        max-width: 520px;
        background-color: green;
    }
}

/* Large devices (tablets, 768px to 991.98px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .container{
        max-width: 720px;
        background-color: yellow;
    }
}

/* Extra large devices (desktops, 992px to 1199.98px) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .container{
        max-width: 960px;
        background-color: brown;
    }
}

/* Extra extra large devices (large desktops, 1200px and above) */
@media only screen and (min-width: 1200px) {
    .container{
        max-width: 1140px;
        background-color: purple;
    }
}
/* responsive design ends here */
